<div class="counters">
    <div class="row">
        <div class="col-md-offset-3 col-md-2 number days animated fadeInUp">{{ days }}</div>
        <div class="col-md-2 number hours animated fadeInUp">{{ hours }}</div>
        <div class="col-md-2 number minutes animated fadeInUp">{{ minutes }}</div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-2 unit days animated fadeInUp">Jours</div>
        <div class="col-md-2 unit hours animated fadeInUp">Heures</div>
        <div class="col-md-2 unit minutes animated fadeInUp">Minutes</div>
    </div>
</div>