<div class="intro page-title">
    <h2>Hébergement</h2>
</div>
<div class="container accommodation">
    <div class="row text-justify">
        <p>Pour les plus téméraires d’entre vous, il est possible de planter une tente ou de dormir dans une des salles
            de réception… Dans ces cas, mise à part un matelas et un duvet (et une tente si vous êtes plutôt
            extérieur), vous aurez juste besoin de nous envoyer un petit mail.</p>

        <p>Pour tous les autres, voici une liste, sûrement non exhaustive, des hébergements alentours. En espérant que
            vous y trouviez votre bonheur.</p>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="left-menu" stick-left="265">
                <p class="title">Types d'hébergement</p>

                <div class="items btn-group-vertical" role="group">
                    <button ng-repeat="type in types" class="btn btn-warning disable-focus" ng-model="type.checked"
                            btn-checkbox><span style="float: left; top: 2px; margin-right: 2px;"
                                               ng-class="{'glyphicon': true, 'glyphicon-unchecked':!type.checked, 'glyphicon-check':type.checked}"></span><span
                            style="position: relative;">{{type.display}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <leaflet class="row" defaults="mapDefaults" center="mapCenter" markers="markers"
                     style="height: 450px; margin-bottom: 2%;"></leaflet>

            <div ng-repeat="accommodation in accommodations | accomodationTypeFilter:types:'accommodation':markers"
                 class="row panel panel-default accommodations" style="margin-top: 1%;">
                <!--<map-marker lat="accommodation.coordinates[0]" lng="accommodation.coordinates[1]" id="accommodation.id" name="accommodation.name"></map-marker>-->
                <div class="panel-heading"><a href="{{accommodation.url}}">
                    <p>{{accommodation.name}}</p></a></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div><span style="font-weight: bold;">Type d'hébergement:</span>
                                {{accommodation.accommodation}}
                            </div>
                            <div><span style="font-weight: bold;">Ville:</span> {{accommodation.city}}</div>
                            <div><a href="{{accommodation.url}}">Lien vers le site web</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>