<div class="intro page-title">
    <h2>Contact</h2>
</div>
<div class="container contact">
    <div class="row">
        <p class="justify">Vous êtes sur la bonne page pour nous confirmer votre présence ainsi que pour nous envoyer un petit message. N'hésitez pas à en abuser!</p>
    </div>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-offset-1 col-md-5">
            <button type="button" class="btn btn-lg btn-primary contact-btn" ng-click="openReply()">Confirmez votre présence</button>
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-lg btn-primary contact-btn" ng-click="openContact()">Contactez-nous</button>
        </div>
    </div>
</div>