<section class="intro">
    <div class="container slogan">
        <h2>Mariage de</h2>

        <h2>Floriane & François</h2>
    </div>
    <div class="container counters" counter>
        <div class="row">
            <div id="days" class="col-md-offset-3 col-md-2 number days animated fadeInUp"></div>
            <div id="hours" class="col-md-2 number hours animated fadeInUp"></div>
            <div id="minutes" class="col-md-2 number minutes animated fadeInUp"></div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-2 unit days animated fadeInUp">Jours</div>
            <div class="col-md-2 unit hours animated fadeInUp">Heures</div>
            <div class="col-md-2 unit minutes animated fadeInUp">Minutes</div>
        </div>
    </div>
</section>
<div class="container-fluid home">
    <div class="container abstract">
        <h2>Bienvenue sur notre site de mariage !</h2>

        <p class="justify">Ici, vous trouverez de quoi préparer votre venue pour la célébration de notre union. Nous
            vous souhaitons une
            bonne navigation, et sommes pressés de vous voir ce grand jour.
        </p>

        <p style="text-align: right; margin-top: 22px;">Floriane & François</p>
    </div>
    <div class="container">
        <h3>Date et lieu</h3>

        <p class="justify">
            Notre mariage se déroulera à partir de <strong>16H00</strong> le <strong>29 août 2015</strong>, à la ferme
            Alia (Saint-Sauveur, 86).
        </p>
    </div>
    <div class="container">
        <leaflet defaults="mapDefaults" markers="markers" center="center" style="height: 300px;"></leaflet>
    </div>
    <div class="container explanations">
        <h3>Pourquoi Châtellerault ?</h3>

        <p class="justify">
            <img src="img/gathering_point.jpg" class="img-responsive img-thumbnail" style="float: left; margin-right: 20px; width: 84px;">
            Certains se demandent peut-être pourquoi la Ferme Alia, pourquoi Châtellerault ? Et surtout, pourquoi pas la
            Finlande ?!
            Châtellerault se trouve au milieu de toutes les familles : au milieu de Paris, Vannes, Bordeaux, Limoges,
            Angers, Mont-de-Marsan et Saumur. Accessible en train et rapidement en voiture, ce lieu nous semblait
            l’idéal, pour des provinciaux d’une lointaine province comme nous, sans attache métropolitaine particulière.
        </p>

        <p class="justify">
            Sachez tout de même que vous êtes plus que les bienvenus en Finlande. Dans la mesure du possible, nous vous
            hébergerons, irons vous chercher à l’aéroport et tutti quanti, pour que l’on puisse ensemble conjuguer la
            famille et les amis avec super accueil dans notre pays d’adoption.
            En attendant, rendez-vous à 16h00 à Saint Sauveur, le 29 août.
        </p>
        <h3>Thême de la soirée</h3>

        <p class="justify">
            <img src="img/ferme_alia.jpg" class="img-responsive img-thumbnail" style="float: right; margin-left: 20px; width: 209px">
            Sans avoir de thème et de couleur précis, notre petite sauterie est plutôt champêtre.
            Evitez les robes de soirées longues et les costumes trois pièces, c’est dans une ferme et il se peut que
            vous soyez ridicule, surtout s’il pleut !
        </p>
        <h3>Le mariage pour nous</h3>

        <p class="justify">
            <img src="img/married.jpg" class="img-responsive img-thumbnail" style="float: left; margin-right: 20px; width: 90px">
            Le mariage pour nous est l’union de deux être qui s’aiment. C’est l’union officielle d’un amour fou. C’est
            pour cela d’ailleurs qu’on se marie dans notre pays d’adoption entre deux témoins.
            Mais nous sommes tellement heureux, que nous faisons une fête en France avec les gens qui nous sont proches,
            famille et amis, pour partager ce bonheur avec eux (c’est le passage fleur bleue du site, s’il faut sortir
            les mouchoirs, c’est maintenant !).
        </p>
    </div>
</div>